*{
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

html{
  font-size: 62.5%;
}

html, body{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body{
  font-size: 1.6rem;
  background: #f1f1f1;
}

@media(max-width: 1024px){
  html{
      font-size: 55%;
  }
}

@media(max-width: 965px){
  html{
      font-size: 50%;
  }
}